.vc-header .header-item{
    
    font-weight: bold;
}


@media (max-width: 612px) {
  .header-item:nth-child(1){
    display: none;
  }
}
@media (max-width: 531px) {
  .vc-header .header-item{
    font-size: 10px;
    }
  .vc-header div div{
    font-size: 12px;
    }
}
@media (max-width: 526px) {
  .vc-header .header-item{
    font-size: 10px;
    }
  .vc-header div div{
    font-size: 12px;
    }
}
@media (max-width: 446px) {
    
  .vc-header .header-item{
    font-weight: bold;
    }
    .vc-header div{
        padding: 0
    }
  .saludo{
    display: none;
  }
}