.contenido-home-fullscream{}
.contenido-home-smallscream{
    display: none;
}
.primer-detail{
  margin-top: 10px;
}
.register-link a{
  color: #90CAF9;
}


@media (max-width: 940px) {
  .contenido-home-fullscream{
    display: none;
  }
.contenido-home-smallscream{
    display: block;
}
}